<!DOCTYPE html>
<html>
    <head>
        <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
        <script src="{{ url_for('static', filename='myrequests.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='spectre.min.css') }}"></link>
        <title>RSA chatroom - admin</title>
    </head>
    <body>
        {% for usr in all_users.keys() %}
        <div class='card-body'>
            {{ all_users[usr]['username'] }} : {{ all_users[usr]['password'] }}
        </div>
        {% endfor %}
    <body>
</html>
