<!DOCTYPE html>
<html>
    <head>
        <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
        <script src="{{ url_for('static', filename='myrequests.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='spectre.css') }}"></link>
        <title>RSA chatroom - {{ user_data['username'] }}</title>
    </head>
    <body>
        <ul class="menu">
            <li class="divider" data-content="{{ user_data['username'] }}"></li>
            <li class="menu-item">
                <a href="{{ url_for('auth.logout', user_id=user_data['user_id']) }}">Log out</a>
            </li>
        </ul>
        <ul class="menu">
            {% for user in user_data['chats'] %}
            <li class="menu-item">
                Chat with:
                {% if user.participant1 is eq user_data['user_id'] %}
                    <a href="/chats/{{ user_data['user_id'] }}/{{ user.participant2 }}">
                    {{ user.participant2 }}
                    </a>
                {% else %}
                    <a href="/chats/{{ user_data['user_id'] }}/{{ user.participant1 }}">
                    {{ user.participant1 }}
                    </a>
                {% endif %}
                (created at: {{ user.last_activity }})
            </li>
            {% endfor %}
        </ul>
        <div>
            <form action="{{ url_for('search.search_user') }}" id='user-search' name='user-search' method='GET'>
                <span class='form-label'>Chat with: </span>
                <input class='form-input' type='text' id='query' name='query' placeholder='username'>
            </form>
            <form action="{{ url_for('chat.create_chat', creator=user_data['user_id']) }}" method='POST'>
                <select id='matching-users' name='matching-users' class='form-select'>
                    <option type="text">-- Select an option --</option>
                </select>
                <input class='btn btn-primary' type='submit' value='Create'>
            </form>
        </div>
    <body>
</html>
