<DOCTYPE html>
<html>
    <head>
	<script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='spectre.css') }}"></link>
	<title>Login</title>
    </head>
    <body>
	<div>
	    <form action='/auth/login' method='POST' name='login-form'>
		<label class='form-label'>Username</label>
		<input class='form-input' type='text' name='username' placeholder='username'>
		<label class='form-label'>Password</label>
		<input class='form-input' type='password' name='pwd' placeholder='password' value='123456'>
		<input class='btn btn-primary' type='submit' value='Log in'>
	    </form>
	</div>
	<div>Errore: {{ error }}</div>
    </body>
</html>
