<!DOCTYPE html>
<html>
    <head>
        <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
        <script src="{{ url_for('static', filename='myrequests.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='spectre.min.css') }}"></link>
        <title>RSA chatroom - {{ other_user|title }}</title>
    </head>
    <body>
        {% for msg in messages %}
            <div class="container columns">
            {% if msg['sender'] is eq this_user %}
            <div class="card bg-success column col-4 float-right">
            {% else %}
            <div class="card bg-error column col-4 float-left">
            {% endif %}

                <div class='card-header'>from:
                    <span class='chip text-dark bg-success'>
                    <a href='#' }}>{{ msg['sender'] }}</a>
                    </span>
                </div>
                <div class='card-body'>{{ msg['data'] }}</div>
                <div class="card-footer">
                    <a href="{{ url_for('msg.edit_message', msg_id=msg['msg_id'])}}">
                        Edit
                    </a>
                    <a href="{{ url_for('msg.delete_message', msg_id=msg['msg_id'])}}">
                        Delete
                    </a>
                </div>
            </div>
            </div>
        {% endfor %}

        <form action="{{ url_for('msg.send_message', sender=this_user_id, recipient=other_user_id) }}"
        id='msg-sending' method='POST'>
            <input class='form-input' type='textarea' name='message' placeholder='Say something'>
            <input class='btn btn-primary' type='submit' value='Send'>
        </form>
    <body>
</html>
