<DOCTYPE html>
<html>
    <head>
	<script src="{{ url_for('static', filename='jquery-3.6.1.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='spectre.min.css') }}"></link>
	<title>Register</title>
    </head>
    <body>
	<div>
	    <form action='/auth/register' method='POST' name='registation-form'>
		<label class='form-label'>Username</label>
		<input class='form-input' type='text' name='username' placeholder='username'>
		<label class='form-label'>Password</label>
		<input class='form-input' type='password' name='pwd' placeholder='password'>
		<input class='btn btn-primary' type='submit' value='Register'>
	    </form>
	</div>
	<div>Errore: {{ error }}</div>
    </body>
</html>

